*{
	margin:0;
	padding:0;
}



ol,ul,li{
	 list-style-type: none;
}
a{
	text-decoration: none;
	position: relative;
}
.topbar{
	height:40px;
	background:#333;
 }

.topbar .container{  /*版心线*/
 	height:40px;
	background:#333;
	width:1226px;
	margin:0 auto;
 } 

 .container .topbar-nar{ /*导航*/
	width:677px;
	height:40px;
	float:left;
}

.container .topbar-nar a,.topbar-cart a{
	color:#b0b0b0;
	line-height: 40px;
	font-size:12px;
	float:left;
 }

.topbar-nar a span,.topbar-cart a span{
	padding:0 3px;
}

.topbar-nar a:hover,.tobar-info a:hover,.topbar-cart a:hover{
	color:#fff;
}

.topbar-cart{  /*登录注册*/
	width:142px;
	height:40px;
 	float:left;
	margin-left:262px;
	 
}
.container .tobar-info{/*右购物车*/
	float:right;
  	width:120px;
	height:40px;
	text-align: center;
}
.tobar-info a{
   	color:#b0b0b0;
	font-size:12px;
	line-height: 40px;
	
}
 

/* 小米搜索栏*/

.container2{
	width:1226px;
	height:100px;
	margin:0 auto;
	background:#fff;
	position: relative;
}


.twoa{
	float:left;
	width:55px;
	height:55px;
	margin-top:22px;
 }

.twoa img{
	float:left;
	width:55px;
	height:55px;
}


.twob{
    line-height: 100px;
   	width:640px;
	height:100px;
   	float:left;
   	margin-left:188px;
}
 
  
.teshu{
   
    text-align: center;
    width:1226px;
    height:201px;
    margin:0 auto;
    position: absolute;
    top:100px;
    z-index: 30px;
        ul{
            line-height: 201px;
            width:204px;
            height:201px;
            float:left;
              li a img{
                width:160px;
                height:110px;
             }
                
        }
}

.teshu a{
       p{
           color:#000;
           
       }
       span{
           color:#fff;
          
       }
}






.twob a{
	line-height: 100px;
	float:left;
	color:#000;
	font-size: 16px;
	padding-right:20px;
}

.twob a:hover{
	color:#ff6700;
}

.twoc{
	width:296px;
	height:100px;
 	float:right;
	line-height: 100px;
}






.twod{
	border:1px solid #e0e0e0;
	position: absolute;
	width:296px;
    line-height: 50px;
    margin-top:24px;
	height:50px;
 	float:right;
	 
}

.twod:hover{
	border-color: #585C63;
}

.twod-a{
	display: none;
	width:246px;
	height:297px;
 	position: absolute;
	top:52px;
	background:#fff;
	z-index:20px;
	border: 1px solid #ff6700;
	border-top:none;
}
 
.twod-a li{
  	width:243px;
	height:28px;
	display: list-item;
}

.twod-a li a{
    position: relative;
    display: block;
    padding: 6px 10px;
    font-size: 12px;
    color: #424242;
    width:243px;
	height:28px;
}

.twod-a li a span{
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}


.btn input{
	border:none;
	width:245px;
	height:50px;
	float:left;
}

.btn button{
	width:51px;
	height:51px;
	line-height: 51px;
	text-align: center;
	border-left:1px solid #e0e0e0;
}



/* 广告图*/
.banner{
    position: relative;
	width:1226px;
	height:460px;
	margin:0 auto;
}

.rightb{
    ul{
        position: relative;
        top:0;
        right:0;
        li{
            position: absolute;
            top:0;
            right:0;
            img{
                 width:992px;
                 height:460px;
                 white-space: normal;
            }
         }
    }
	width:992px;
	height:460px;
	float:right;
	position: relative;
	ol{
	    width:100px;
	    height:18px;
	    line-height: 18px;
	    position: absolute;
	    float:right;
	    bottom:30px;
	    right:25px;
	    
	    li{
	        display: block;
            width: 6px;
            height: 6px;
            margin: 0 5px;
            border: 2px solid #fff;
            border-color: rgba(255,255,255,0.3);
            border-radius: 10px;
            float: left;
            text-indent: -9999px;
            overflow: hidden; 
	    }
	}
}






 

.lefta{
	width:234px;
	height:460px;
	float:left;
	background:#585c63;
}

.lefta ul li{
	float:left;
	width:232px;
	height:42px;
	
 }


.lefta ul li a{
	padding-left: 30px;
	line-height: 42px;
	display: block;
    font-size:14px;
    color:#fff;

}
/* 花费充值 右边三个分类*/
.subrow{
	width:1226px;
	height:170px;
	margin:0 auto;
	background:blueviolet;
	margin-top:14px;
}


/* 左边花费充值业务*/


.subrowleft{
	width:234px;
	height:170px;
	float:left;
	background:sienna;
}



.subrowright{
	width:978px;
	height:170px;
	float:right;
	margin-left:14px;
	background:forestgreen;
}

.subrowleft1{
	width:234px;
	height:170px;
	float:left;
	background: #665e57;
	position: absolute;
 }


.subrowleft1 li{
	position: relative;
	float:left;
	width:70px;
	height:82px;
	padding:0 3px;
}


.subrowleft1 li a{
	display: block;
	padding-top:18px;
	overflow: hidden;
	font-size:12px;
	color:#333;
	width:70px;
	height:64px;
	text-align: center;
 }



.subrowright ul li{
	float:left;
	width:316px;
	height:170px;
  }


.subrowright ul li:nth-child(2){
	padding:0 15px;
}
.subrowright ul li img{
	float:left;
	width:316px;
	height:170px;
}

 






